:root {
	--navy: #0348aa;
	--light-blue: #3bb5fd;
	--gold: #edeb35;
	--orange: #fe8b1a;
	--green: #09c745;
	--grey: #e6e6e6;
	--white: #fafafa;
}

body {
	background-color: var(--grey) !important;
}

#chart-card {
	background: var(--white) !important;
	width: 100%;
	height: 100%;
}

.photo-link {
	color: white;
}

#dashboard-card-titles {
	font-weight: bold;
}

#dashboard-stats-text {
	font-weight: bolder;
	margin-left: 20px;
	margin-top: 10px;
}

#tickets-table-title {
	cursor: 'pointer' !important;
}

/*========== Table Styles ==========*/
#clickable-text {
	color: var(--navy);
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

table th,
table td {
	font-size: 13px !important;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	vertical-align: middle !important;
}
