body {
	background-color: rgb(170, 170, 170) !important;
}

.chart-card {
	background: 'rgb(192, 192, 192)';
}

#dashboard-card-titles {
	font-weight: bold;
}

#dashboard-stats-text {
	font-weight: bolder;
	margin-left: 20px;
	margin-top: 10px;
}

#tickets-table-title {
	cursor: 'pointer' !important;
}

/*========== Table Styles ==========*/
#clickable-text {
	color: blue;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

table th,
table td {
	font-size: 13px !important;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	vertical-align: middle !important;
}
